<!DOCTYPE html>
<html>
  <head>
    <title>VIDEO GAME RECCOMENDER</title>
  </head>
  <body>
    <p> VIDEO GAME RECCOMENDER</p>
      <form action ="/results" method="POST">
<select name >
  <option value="sports">Sports</option>
  <option value="action_and_adventure">Action And Adventure</option>
  <option value="cars_racing">Cars/Racing</option>
  <option value="first_person_shooter">First Person Shooter</option>
  <option value="fighting_combat">Fighting/Combat</option>
  <option value="stealth">Stealth</option>
  <option value="open_world_survival">Open World/Survival</option>
</select>
  
      <input type="submit" value="Submit">
    </form>
  </body>
</html>