h1{
  color: Blue;
  font-size: 75px;
  font-family: Times New Roman;
  text-align: center;
}

h2{
  color: Black;
  font-size: 50px;
  font-family: Times New Roman;
  text-align: center;
}

body{
  background-color: Teal;
}

.link-align{
  text-align: center;
}

p{
  color: Black;
  font-size: 30px;
  font-family: Times New Roman;
}

.desc-text{
  color: Black;
  font-size: 30px;
  font-family: Cambria;
}

.choice-text{
  text-align: center;
}